<div class="row">
  <div *ngIf="event$ | async as event" class="col-6 offset-3">
    <form class="mt-4" #eventForm="ngForm" (ngSubmit)="onUpdate(eventForm)">
      <input [(ngModel)]="event.id" name="id" type="hidden">
      <div class="form-group">
        <label for="eventName">Name</label>
        <input id="eventName" [(ngModel)]="event.name" name="name" type="text" class="form-control" required
          pattern=".{8,}">
        <div [hidden]="eventForm.controls['name']?.valid" class="error-message">
          Required field.
        </div>
      </div>
      <div class="form-group">
        <label for="eventDate">Date</label>
        <input id="eventDate" [(ngModel)]="event.date" name="date" type="text" class="form-control" required>
        <div [hidden]="eventForm.controls['date']?.valid" class="error-message">
          Required field.
        </div>
      </div>
      <div class="form-group">
        <label for="eventTime">Time</label>
        <input id="eventTime" [(ngModel)]="event.time" name="time" type="text" class="form-control" required>
        <div [hidden]="eventForm.controls['time']?.valid" class="error-message">
          Required field.
        </div>
      </div>
      <div class="form-group">
        <label for="eventLocation">Location</label>
        <input id="eventLocation" [(ngModel)]="event.location" name="location" type="text" class="form-control"
          required>
        <div [hidden]="eventForm.controls['location']?.valid" class="error-message">
          Required field.
        </div>
      </div>
      <button [disabled]="eventForm.invalid" type="submit" class="btn btn-dark btn-block">
        <i class="fa fa-save"></i> Update
      </button>
    </form>
  </div>
</div>
